/* GLOBAL CSS APPLIES TO ALL PAGES WHEN RENDERED TOGETHER _app.js WITHOUT APPLYING THEM ALL WITH A COMPONENT LIKE (DIVS) components/layout.js and layout.module.css files  */
html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #f3005d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img{
    max-width: 100%;
    display: block;
}